[submodule "project_group_01"]
	path = project_group_01
	url = git@github.com:intothedeep/mscs_utrgv_cs6330_group_01.git
[submodule ".claude"]
	path = .claude
	url = git@github.com:intothedeep/.claude.git
